
@media (max-width: 600px) {
    /* Styles for mobile screens */
    .body-container {
        background-color: 'white';
        width: 100%;
        margin: 0;
        padding-top: 50px;
        justify-content: center;
        align-items: center;
    
    
    
    }

    .btn {
        width: 90%;
        height: 60px;
        margin-top: 0px;
        padding: 0px;
        font-size: larger;
    }

    #download {
        height: 35px;
        width: 90%;
        /* position: fixed; */
        padding: 0px;
        /* background-color: transparent; */
        background-color: goldenrod;
        border: 0px;
        border-radius: 8px;
    }
    a#link {
        color:honeydew;
        
    }
}

.body-container {
    /* display: flex;
    flex-direction: column;
     */
    /* background-color: 'black'; */
    width: 100%;
    margin: 0;
    padding-top: 10px;
    /* justify-content: center; */
    /* align-items: center; */

}

.btn {
    width: 90%;
    height: 120px;
    margin-top: 0px;
    padding: 0px;
    font-size: larger;
    border-radius: 8px;
    background-color: rgb(238, 165, 177);
    border: 0px;
}

#download {
    height: 35px;
    width: 90%;
    /* position: fixed; */
    padding: 0px;
    /* background-color: transparent; */
    background-color: goldenrod;
    border: 0px;
    border-radius: 8px;
}
a#link {
    color:honeydew;
    
}